.font-thin {
	font-family: "Lato", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Lato", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

.justify-text {
	text-align: justify;
}

.special-active-menu {
	z-index: 10;
}

#special-active-menu-1,
#special-active-menu-6 {
	background-color: #4e4e4e !important;
}

#special-active-menu-2 {
	background-color: #1abc9c !important;
}

#special-active-menu-3 {
	background-color: #e74c3c !important;
}

#special-active-menu-4 {
	background-color: #34495e !important;
}

#special-active-menu-5 {
	background-color: #e67e22 !important;
}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 65px;
	padding-top: 50px;
	text-align: center;
}


#slide-4 {
	background-color: #34495e;
	color: #e4e6e5;
	padding-top: 90px;
	margin-top: -65px;
}

#slide-4 i {
		font-size: 80px;
		color: white;
	}


#slide-5 {
	background-color: #fff;
	color: #000;
	padding-top: 90px;
}

@media (max-width: 767px) {
	.with-hover-text{
		margin-bottom: 2em;
		margin-top: 1em;
	}
}
	
	#contact-row-4 {
		padding-top: 125px;
	}
	
	#contact-row-4 .col-12 {
		height: 175px;
		overflow: hidden;
		padding-top: 20px;
		transition: all ease-in .5s;
	}
	
	#contact-row-4 img {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	#contact-row-4 .col-12:hover {
		height: 175px;
		padding-top: 0;
	}
	
	#contact-row-4 .col-12 .hover-text {
		display: none;
		font-size: 20px;
	}